@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;200;400;700&display=swap');
/** MAQUETADO DE LA PÁGINA PARA PANTALLA DE COMPU*/
*{
    margin:0px;
}
.index{
    background: linear-gradient(to right, #080808d0, #080808de), url(../img/fondo-index.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2, h3{
    font-weight: 700;
}
.contenedor{
    font-family: Lora, serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: grid;
    grid-template: auto auto auto auto auto auto / 27% 27% 27% 1fr;
    grid-template-areas: "header header header header"
                        "carrusel carrusel carrusel carrusel"
                        "pelis pelis pelis aside"
                        "marquesina marquesina marquesina aside"
                        "pelis2 pelis2 pelis2 aside"
                        "footer footer footer footer";
}

/** = = = = = E S T I L O   D E L   M E N U = = = = = */
.header{
    grid-area: header;
    margin-top: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:absolute; z-index:1;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98vw;
    height: 7vh;
}

.user{
    list-style: none;
    cursor: pointer;
}

.fa-solid{
    margin-top: .3em;
    font-size:1.3rem ;
}
/*? = = = = = E S T I L O   D E L   P O P U P = = = = = */
#popup {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    border: 1px solid #ffffff;
    padding: 10px;
    display: none;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
}

#popup .description {
    font-size: 16px; 
    margin-bottom: 10px;
    text-align: center;
}

#popup img {
    width: 100%;
    height: auto; 
}

#title:hover + #popup {
    display: block; 
}
/*? = = = = = E S T I L O   D E L   S E S I O N = = = = = */
form{
    padding: 2%;
}
/* Estilos generales para los campos de formulario */
.form-group {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 15px;
}

.form-group label {
margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
background-color: #f0f0f0;
border: 1px solid #000;
border-radius: 5px;
padding: 10px;
width: 100%;
font-size: 16px;
margin-top: 5px; 
}

/* Estilos para el botón de registro */
.btn-primary {
background-color: #0074D9;
border: none;
border-radius: 5px;
padding: 12px;
font-size: 18px;
color: #fff;
cursor: pointer;
transition: background-color 0.3s;
margin-top: 15px;
}

.btn-primary:hover {
background-color: #0056b3;
}

/* Estilos para el enlace "¿Olvidaste tu contraseña?" */
.forgot {
margin-top: 15px;
}

.forgot a {
color: #0074D9;
text-decoration: none;
}

.forgot a:hover {
text-decoration: underline;
}

/* Estilos para los iconos en los campos de formulario */
.pass i.fa-lock,
.correo i.fa-mailchimp {
color: #000000;
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
}

/* Estilos específicos para el fondo del Modal y el cuerpo del Modal */
.modal-content {
background-image: url('../img/fondo_modal.jpg');
background-size: cover;
background-position: center;
color: #fff;
opacity: .95;
border: 1px solid #333;
border-radius: 15px;
}

.modal-body {
padding: 20px;
text-align: center;
color: #fff;
font-family: 'Lora', serif;
font-weight: 400;
font-size: 16px;
}

/* Estilos específicos para la imagen de usuario */
.user-img {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
}

.user-img img {
width: 150px;
height: 150px;
border: 5px solid #fff;
border-radius: 50%;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#check-terminos{
    width: 5%;
}
/*? = = = = = E S T I L O   D E L   C A R R U S E L = = = = = */
.carrusel{
    grid-area: carrusel;
    position:relative;
    height: 100vh; 
}

.carousel-inner{
    height: 99vh;
}

.carousel-inner .imgcarru{
    object-fit: cover;
}
.titulo{
    
    width: 300px;
    margin-bottom: 8em;
    margin-left: 54em;
}
/*? = = = = = E S T I L O    G A L E R I A   E S C R I T O R E S  = = = = = */
section{
    height: 98vh;
    width: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0.5px solid gray;
}

section img{
    width: 0px;
    height:100%;
    flex-grow: 1;/*que dentro de la caja flexible ocupe todo el espacio que pueda*/
    object-fit: cover;
    opacity: 0.8;
    transition: .5s ease;
}

section img:hover{
    width: 30%;
    opacity: 1;
    filter:contrast(120%);
}

@media screen and (max-width: 768px){
    section{
        flex-wrap: wrap;
    }
    section img{
        height: 80%;
    }
    section img:hover{
        width: 70%;
        
    }
}
/*! = = = = = E S T I L O   P E L I C U L A   S E C C  1  = = = = = */
.pelis{
    grid-area: pelis;
    width: 80vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.link-peliculas{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    /* background-color: #242222; */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    max-width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.link-peliculas:hover{
    background-color: rgba(35, 35, 36, 0.623);
    transform: scale(1.05); /* Aumenta el tamaño del enlace en un 5% */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra suave */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.link-peliculas:active{
    /* background-color: #004080;
    border-color: #004080; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
 .tarjeta img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    padding: 0.5rem;
 }
/*? = = = = = E S T I L O   D E L   A S I D E  = = = = = */
.aside{
    grid-area: aside;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.destacadas{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.destacada{
    width: 90%;
    height: 34vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    }
.destacada .desta{
    width:60%;
    height: 90%;
}
.destacada span{
    width: 200px;
    text-align: center;
    font-size: .8em;
}
/** = = = = = E S T I L O   D E  M A R Q U E S I N A = = = = = */
.marquesina{
    grid-area: marquesina;
    display: flex;
    align-items: center;
}
.slider{
    height: 15vh;
    overflow: hidden;   
    width: 80vw;
    height: 18vh;
    
}
.slider .slide-track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 12);
    animation-play-state: running;    
}
.slider .slide-track:hover{
    animation-play-state: paused;
}
.slider .slide{
    width: 200px;    
}
.slider .slide img{
    width: 100%;
    height: 75%;
}
@keyframes scroll{
    0%{
        -webkit-transform: translatex(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-200px * 6)) ;
        transform: translateX(calc(-200*6));
    }
}
/*! = = = = = E S T I L O   P E L I C U L A   S E C C  2  = = = = = */
.pelis2{
    grid-area: pelis2;
    width: 80vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-left: .5em;
}


/*? = = = = = E S T I L O    D E L   F O O T E R  = = = = = */
.footer{
    grid-area: footer;
    width: 100vw;
    display: flex;
    margin-top: 2.5em;
    padding: .5em;
    justify-content: space-around;
}
.redes {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.tecno {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
/*? = = = = = E S T I L O    D E L   B O T O N   S C R O L L  = = = = = */
#scrollToTopBtn {
    position: fixed;
    bottom: 27px;
    right: 20px;
    background-color: rgba(0,0,6,0.5);
    color: #fcfcfc;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: all 0.3s; /* Animación al aparecer */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  #scrollToTopBtn:hover {
    background-color: #283747 ;
    color: #F39C12; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Aumento de tamaño al pasar el ratón */
    opacity: 0.9; /* Transparencia */
    transition: all 0.3s; /* Animación al pasar el ratón */
    z-index: 999; /* Asegura que esté por encima del contenido */
  }
  
  #scrollToTopBtn::before {
    content: "\2191"; /* Código de la flecha hacia arriba */
    font-size: 24px; /* Tamaño del ícono */
  }

  
/**  Media query  para pantalla de 768px TABLET*/
@media  (max-width: 768px) {
    .contenedor{
        /* background-color: rgb(108, 156, 108); */
        grid-template:  "header header header" 
                         "carrusel carrusel carrusel"
                         "pelis pelis pelis"
                         "marquesina marquesina marquesina"
                         "pelis2 pelis2 pelis2"
                         "aside aside aside"
                         "footer footer footer";
    }
    .navbar{
        width: 450px;
        height: initial;
    }

    .carrusel{
        width: initial;
        height:initial;
    }
    
    .pelis{
        width: 95vw;
    }
    .pelis2{
        width: 95vw;
    }
    .tarjeta{
        text-align: center;
    }
    .tarjeta img{
        height: 18em;
    }
    .aside{
        width: 100vw;
        flex-direction: column;
        padding-top: 2em;
    }
    .destacadas{
        width: 100vw;
        margin-top: 2.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .destacada{
        width: 200px;
        margin: .5em; /* Añade margen para separar las tarjetas */
        display: flex;
        flex-direction: column;
        text-align: center;
        }
        .destacada .desta{
        width:90%;
        height: auto;
        object-fit: cover;
    }
    .slider{
        width: 95vw;
    }
    .footer{
        width: 96vw;
        margin-top: 5em;
    }
}

/**  Media query  para pantalla de 425px cel*/
@media  (max-width: 425px) {
    .contenedor{
        /* background-color: rgb(108, 156, 108); */
        grid-template:  "header" 
                         "carrusel"
                         "pelis"
                         "pelis2"
                         "footer";
    }
    
    .navbar{
        width: 90%;
    }
    .user{
        margin-right: 2.5em;
    }
    .carrusel{
        width: initial;
        height:initial;
    }
    
    .pelis, .pelis2{
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .tarjeta{
        width: 46%;
        height: auto;
        flex-direction: column;
    }
    .tarjeta img{
        width: 95%;
    }
    .aside , .marquesina,  .tecno{
        display: none;
    }
    .footer{
        width: 96vw;
    }
    .redes{
        width: 80vw;
        justify-content: space-around;
    }
}