{% extends 'base_crud.html'%}

{% block contenido %}

        <div class="peli1 container-fluid bg-gradient">
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/alicia/poster-alicia.jpg') }}" alt="Alicia en el Pais de las Maravillas">
                <a class="link-peliculas" href="pages/pelicula_alicia.html">Alice in Wonderland</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/harry/camara.jpg') }}" alt="Harry Potter La Cámara Secreta">
                <a class="link-peliculas" href="pages/pelicula_harry.html">Harry Poter</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/it/it-eso.png') }}" alt="IT (ESO)">
                <a class="link-peliculas" href="pages/pelicula_it.html">IT</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/leyenda/soy-leyenda.png') }}" alt="Soy Leyenda">
                <a class="link-peliculas" href="pages/pelicula_leyenda.html">Soy Leyenda</a>
            </div>
        </div>

        <div class="peli2">
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/maze_runner/1.jpg') }}" alt="Maze Runner">
                <a class="link-peliculas" href="pages/pelicula_maze_runner.html">Maze runner</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/lord/el señor de los anillos - la comunidad.jpg') }}" alt="La Comunidad del Anillo">
                <a class="link-peliculas" href="pages/pelicula_señor_anillos.html">La Comunidad del anillo</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/matilda/matilda1.png') }}" alt="Matilda">
                <a class="link-peliculas" href="pages/pelicula_matilda.html">Matilda</a>
            </div>
            <div class="tarjeta">
                <img src="{{ url_for('static', filename = 'img/juegos/juegos-del-hambre.png') }}" alt="Juegos del Hambre">
                <a class="link-peliculas" href="pages/pelicula_juegos_hambre.html">Juegos del hambre</a>
            </div>
        </div>
  {% endblock %} 